
	.calci{
	
		height:auto;
		width: 480px;
		margin:0;
		padding:0;
		box-shadow:0 0 10px 1px grey;
		
		
}
	
	input[type=text]{
		
		width: 90%;
		margin-top:20px;
		padding:10px;
		font-size:22px;
		font-weight:bold;
		border-radius:5px;
}
	
	input[type=button]{
		
		width: 89px;
		padding:10px;
		font-size:22px;
		font-weight:bold;
		border-radius:5px;
}
	

	
		

